{%- assign collection_menu_1 = settings.site_map_1 -%}
{%- assign collection_menu_2 = settings.site_map_2 -%}
{%- assign collection_menu_3 = settings.site_map_3 -%}
{%- assign collection_menu_4 = settings.site_map_4 -%}
{%- assign collection_menu_5 = settings.site_map_5 -%}
{%- assign collection_menu_6 = settings.site_map_6 -%}
{%- assign collection_menu_7 = settings.site_map_7 -%}
{%- assign collection_menu_8 = settings.site_map_8 -%}
{%- assign collection_menu_9 = settings.site_map_9 -%}
{%- assign collection_menu_10 = settings.site_map_10 -%}

<div class="sitemap_links_section--container">
  {%- include 'sitemap-block', menu: collection_menu_1 -%}
  {%- include 'sitemap-block', menu: collection_menu_2 -%}
  {%- include 'sitemap-block', menu: collection_menu_3 -%}
  {%- include 'sitemap-block', menu: collection_menu_4 -%}
  {%- include 'sitemap-block', menu: collection_menu_5 -%}
  {%- include 'sitemap-block', menu: collection_menu_6 -%}
  {%- include 'sitemap-block', menu: collection_menu_7 -%}
  {%- include 'sitemap-block', menu: collection_menu_8 -%}
  {%- include 'sitemap-block', menu: collection_menu_9 -%}
  {%- include 'sitemap-block', menu: collection_menu_10 -%}
</div>
